@model IEnumerable<UniversityLostAndFound.Models.ItemReport>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Create New</a>
</p>

<form asp-controller="ItemReports" asp-action="Index" method="get" class="mb-3">
    <div class="input-group" style="max-width: 400px; display: flex; gap: 5px;">
        <input type="text" name="searchString" class="form-control" placeholder="ابحث عن مفقودات..." />
        <button type="submit" class="btn btn-primary">بحث</button>
        <a asp-action="Index" class="btn btn-secondary">إلغاء</a>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReportType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateReported)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReportType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateReported)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ItemID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ItemID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ItemID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>